section.light aside div.ant-layout-sider-trigger{
    background-color: lightgrey;
}
.light {
    background-color: white;
    color: black;
}

section.light aside div.ant-layout-sider-trigger span{
    color: black;
}
.active{
    background-color: #002951 !important;
}
.default{
    background-color: #f0f2f5;
}